<div class="modal fade in" id="login">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<h2>Log in</h2>
	</div>
	<div class="modal-body">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<div class="field">
			<%= f.label :email %><br />
			<%= f.email_field :email, :autofocus => true %>
		</div>
		<div class="field">
			<%= f.label :password %><br />
			<%= f.password_field :password %>
		</div>
		<% if devise_mapping.rememberable? -%>
		<div class="field">
			<%= f.check_box :remember_me %> 
			<%= f.label :remember_me %>
		</div>
		<% end -%>
		<div class="actions">
		<%= f.submit "Log in", :class => 'btn btn-small btn-success' %>
		<% end %>
		</div>
	</div>
	<div class="modal-footer">
		<%= link_to "Sign up", new_registration_path(resource_name) %><br />
		<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
	</div>
</div>
